/* =============
    Index Content
============= */
/* --------------------------
    Index Hikes
 --------------------------*/
#index-hikes {
    text-align: center;

    h1 {
        color: $dark-blue;
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(45);
        font-weight: 900;
        margin-bottom: 20px;

        @include md {
            font-size: rem-calc(55);
        }

        @include lg {
            font-size: rem-calc(65);
        }

        @include xl {
            font-size: rem-calc(75);
        }
    }

    p {
        color: $aqua;
        font-size: rem-calc(16);
        line-height: 20px;
        margin-bottom: 20px;
        text-align: justify;

        @include md {
            font-size: rem-calc(18);
            line-height: 22px;
            margin-bottom: 30px;
            padding: 0 20vw;
        }

        @include lg {
            font-size: rem-calc(20);
            line-height: 24px;
            margin-bottom: 40px;
            text-align: center;
        }

        @include xl {
            font-size: rem-calc(22);
            line-height: 27px;
            margin-bottom: 40px;
        }
    }
}

/* --------------------------
    Index Hero
 --------------------------*/
#index-hero {
    img {
        object-fit: cover;
        width: 100vw;
    }
}

/* --------------------------
    Index Brands
 --------------------------*/
#index-brands {
    padding: 20px 0;

    @include md {
        padding: 30px 0;
    }

    @include lg {
        padding: 40px 0;
    }

    >div {
        ul {
            display: grid;
            gap: 20px;
            grid-template-areas: "l1 l1 l2 l2"
                "l3 l3 l4 l4"
                ". l5 l5 .";
            grid-template-columns: repeat(4, 1fr);

            @include md {
                grid-template-areas: "l1 l1 l2 l2 l3 l3"
                    ". l4 l4 l5 l5 .";
                grid-template-columns: repeat(6, 1fr);
            }

            @include lg {
                grid-template-areas: "l1 l2 l3 l4 l5";
                grid-template-columns: repeat(5, 1fr);
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            li:nth-child(1) {
                grid-area: l1;
            }

            li:nth-child(2) {
                grid-area: l2;
            }

            li:nth-child(3) {
                grid-area: l3;
            }

            li:nth-child(4) {
                grid-area: l4;
            }

            li:nth-child(5) {
                grid-area: l5;
            }
        }
    }
}